
/* Font Family */
@font-face {
  font-family: SangBleu;
  src: url("../fonts/SangBleu\ Sunrise.ttf");
}

:root {
  --primary-color: #aa6aaa;
  --secondary-color: #e5dce5;
  --tertiary-color: #717175;
}

html,body{
  overflow-x: hidden;
  overflow-x: clip;
}

body {
  font-family: "Sangbleu"!important;
}

a {
  display: inline-block;
}

figure {
  margin: 0;
}

.container {
  max-width: 1140px;
}

.btn {
  font-family: "Sangbleu", sans-serif;
}

.btn-primary {
  background: var(--primary-color);
  border: none;
}

.btn-primary:hover {
  background: #d886d8;
}

.secondary-btn {
  background: var(--secondary-color);
  border: none;
}

p {
  font-family: "SangBleu", sans-serif;
  color: var(--tertiary-color);
}

.title1 {
  font-size: 54px;
}

.title2 {
  font-size: 50px;
}

/* 
==============
Header Section
==============
*/

.header-section {
  font-family: "SangBleu", sans-serif;
}

.navbar {
  --bs-navbar-padding-y: 1.125vw;
}
.navbar-wrapper {
  flex-grow: 2;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}
.navbar-company{
  padding: 0;
  margin: 0;
  width: 100%;
}
.nav-btn-sm {
  display: none;
}

.offcanvas {
  flex-direction: row;
}

.navbar-container {
  max-width: 1428px !important;
}

.navbar-nav {
  margin-right: 33px;
}

.nav-logo {
  position: absolute;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  top: 0;
  left: 52px;
}

.navbar-company > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-btn > .btn {
  --bs-btn-padding-x: 16px;
  --bs-btn-padding-y: 14px;
}

.nav-link:hover {
  color: #aa6aaa;
}

.offcanvas {
  z-index: 9999;
}

/* Banner Section */

.banner-section {
  padding: 0px 15px 90px; /* to calculate the vw use px to vw website*/
}

.banner-wrpr {
  background: url("../Assets/there-is-man-walking-sand-dune-desert-generative-ai_56221099.htm.png") no-repeat center/cover;
  border-radius: 20px;
  /* min-height: 100vh; */
  text-align: center;
  padding-top: 80px;
}

.banner-content > h1 {
  max-width: 984px;
  margin: 0 auto 22px;
}

.banner-content > .btn {
  --bs-btn-padding-x: 24px;
  --bs-btn-padding-y: 20px;
}

.banner-content > p {
  max-width: 817px;
  margin: 0 auto 30px;
}

.banner-content > a {
  margin-bottom: 36px;
}

.banner-content > figure {
  border: 1px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 1140px;
  padding: 13px 15px 0;
}

.banner-content > figure > img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  object-fit: cover;
}

/* Potential Section */
.property-hold {
  padding: 81px 0;
}
.property-rw {
  --bs-gutter-x: calc(63px / 2);
}

.property-hdr {
  max-width: 513px;
  margin-left: auto;
  margin-bottom: 82px;
}

.property-hdr-img {
  max-width: 475px;
}

.property-hdr-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-scnd-hdr-img {
  max-width: 440px;
  margin-right: auto;
}
.property-scnd-hdr-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.property-scnd > div > .btn {
  --bs-btn-padding-x: 41px;
  --bs-btn-padding-y: 15px;
}
.property-scnd > div > p {
  margin: 72px 0 77px;
}


/* card section to fine cards  */

.find-card-section {
    background-color: #eae4ea;
    padding-block: 75px;

}

.find-card-section .title2 {
    max-width: 834px;
    margin-bottom: 45px;
}

.card {
    border: none !important;
    border-radius: 16px !important;
    overflow: hidden !important;
    height: 356px !important;
    transition: 0.3s ease;
    margin-bottom: 16px !important;
}


.card-body {
    padding: 55px 28px 30px !important;
}



.card-purple {
    background-color: #aa6aaa !important;
    color: white;
}

.card-title {
    font-size: 28px;
    color: var(--font--color);
    margin-bottom: 30px;
}

.card-purple .contact-link,
.card-purple .card-title,
.card-purple .card-text {
    color: white;
}


.contact-link {
    font-weight: 500;
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    color: #000000;
}
/* 
.custom-card-wrapper {
    padding-left: 75px;
    padding-right: 75px;
} */

.img-row {
    padding: 0;
}

.card>img{
  width: 360px;
  height: 356px;
}

.card .img {
    object-fit:contain!important;
}


/* footer section  */

/* Basic Reset */
.footer {
  background-color: #121a24;
  padding: 35px 16px 20px;
}

.container {
  max-width: 1120px;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.footer-logo{
  max-width: 195px;
  max-height: 120px;
  margin-bottom: 40px;
}

.newsletter-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 15px;
}

.newsletter-box input {
  border: none;
  /* padding: 8px 12px; */
  flex: 1;
  outline: none;
  font-size: 14px;
  text-align: center;
}

.newsletter-box button {
  background: #b85cff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.social-links>ul {
  display: flex;
  justify-content: space-around;
}

.social-links a {
  background: white;
  padding: 6px 8px;
  border-radius: 50%;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 15px;
  font-size: 12px;
  color: rgba(255,255,255,0.7);
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .title1 {
    font-size: 32px;
  }
  .title2 {
    font-size: 28px;
  }

  /* Header Section */

  .nav-logo {
    max-width: 110px;
    left: 15px;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .nav-btn-sm {
    display: block;
    margin-left: auto;
  }
  .nav-btn-sm > a {
    font-size: 14px;
  }
  .nav-btn {
    display: none;
  }

  .offcanvas {
    flex-direction: column;
  }
  .offcanvas-header {
    display: flex;
    align-items: start;
    width: 100%;
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  /* Banner Section */
  .banner-section {
    padding: 0 3.125vw 59px;
  }
  .banner-wrpr {
    padding-top: 48px;
  }
  /* Potential Section */
  .property-hold {
    padding: 40px 0;
  }
  .property-prmry {
    margin-bottom: calc(63px / 2);
  }
  .property-hdr {
    margin: 0 auto 40px;
    text-align: center;
  }
  .property-hdr-img {
    margin: 0 auto;
  }
  .property-scnd {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .property-scnd > div {
    margin-bottom: 30px;
  }
  .property-scnd > p {
    margin: 15px 0;
  }
  .property-scnd-hdr-img {
    margin: 0 auto;
  }
  .property-scnd > div > p {
    margin: 25px 0;
  }
}

@media screen and (max-width: 576px) {
  .title1 {
    font-size: 28px;
  }
  .title2 {
    font-size: 26px;
  }
  /* Navbar Section */
  .navbar {
    --bs-navbar-padding-y: 2vw;
  }
  /* Banner Section */
  .banner-content > .btn {
    --bs-btn-padding-x: 12px;
    --bs-btn-padding-y: 10px;
  }
  .banner-content > figure {
    padding: 6.5px 7.5px 0;
  }
}

/* footer section  */
@media (max-width: 992px) {
  .footer-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter-box {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .footer-col h4 {
    font-size: 14px;
  }
  .footer-col ul li a {
    font-size: 13px;
  }
}

